.game-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    color: #131212;
}

.game {
    height: 100%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}





/* -> Side bar:*/
.side-bar {
    display: flex;
    position: relative;
    flex-direction: column;
    max-height: 100%;
    min-height: 250px;
    width: 20%;
    min-width: 300px;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    gap: 15px;
}

.options-menu-container {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    height: 30%;
}

.options-buttons img {
    height: 50px;
    aspect-ratio: 1;
    border-radius: 10px;
    transition: all .3s;
    box-sizing: border-box;
    padding: 3px;
    background-color: #b8a59c;
    ;
}

.options-buttons img:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.options-buttons {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: space-between;
}

.options-menu-container.expanded {
    display: none;
}






/* -> Map:*/
.map-container-box {
    box-sizing: border-box;
    position: relative;
    height: 190px;
    width: 190px;
    padding: 10px;
}

.map-container {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 10px;
}

.map-container:hover {
    cursor: pointer;
}

.map-container img {
    position: absolute;
    width: 333.333%;
}





/* -> Text container:*/
.text-container {
    background: rgba(252, 251, 250, 0.797);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 20px;
    border-radius: 20px;
    overflow-y: auto;
}

.separator-game-header {
    width: 50%;
}

.separator-moves-text {
    background-color: #8a7b7b;
    height: 3px;
    width: 90%;
    margin: 5px;
}

.text-rpg-game {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.p-container {
    display: flex;
    height: 55%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
}

.p-container p {
    margin: 0;
}

.text-narrative-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    text-align: justify;
    height: 80%;
}

.moves-text-rpg-game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 10px 35px;
    transition: all 0.4s;
}

.moves-text-rpg-game.ocult {
    opacity: 0;
}

.moves-text-rpg-game button {
    background-color: transparent;
    text-align: left;
    padding: 5px;
    color: #302924;
}

.moves-text-rpg-game button:hover {
    text-decoration: underline;
}

.player_ask_to_npc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.player_ask_to_npc input {
    font-size: 1.2rem;
    font-family: 'Lora', serif;
    padding: 1px 7px;
    border: 2px solid #8a7b7b;
    border-radius: 10px;
}

.player_ask_to_npc button {
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0;
    margin-left: 5px;
}

.player_ask_to_npc button:hover {
    text-decoration: underline;
}

.option_move {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.option_move img {
    height: 24px;
    width: 20px;
}





/* -> Inventory:*/
.inventory-container {
    background: rgba(252, 251, 250, 0.279);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    transition: all .5s;
    height: 100%;
    overflow-y: auto;
}

.inventory {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    position: relative;
    height: 70%;
    flex-grow: 1;
}

.inventory.expanded {
    height: 100%;
}

.inventory-block {
    display: flex;
    flex-direction: column;
    background-color: #493d34bb;
    border-radius: 0 0 20px 20px;
    margin-top: auto;
}

.inventory-block.expanded {
    height: 100%;
}

.items-title-span {
    font-weight: 600;
    padding: 10px 0 0 15px;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
}

.inventory-block img {
    width: 30px;
    height: 30px;
}

.inventory-object {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 70px;
    padding: 0 10px;
}

.inventory-object.expanded {
    max-height: 100%;
    height: 100%;
}

.items-inventory-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items-inventory-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
    place-items: center;
    width: 100%;
}



/* -> Inventory arrow:*/
.inventory-arrow {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0px 20px;
}

.arrow-expand-inventory {
    scale: 90%;
    transform: rotate(180deg);
    transition: all .3s;
}

.arrow-expand-inventory.rotated {
    transform: rotate(0deg);
}



/* -> Inventory slot:*/

.inventory-slot {
    width: 90%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    border: 2px solid #807868;
    border-radius: 6px;
    position: relative;
    cursor: grab;
}

.quantity-item {
    color: #fee;
    line-height: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    margin-bottom: -5px;
    margin-right: -7px;
    font-size: 1.1rem;
    height: 1rem;
    width: 1rem;
    border: solid 1px #b8a59c;
    border-radius: 3px;
    background-color: #302924;
}

.inventory-context-menu {
    border: #1c1c1c 1px solid;
    z-index: 999999900;
    min-width: 50px;
    font-size: 1.2rem;
    line-height: 1.1;
    background-color: #fee;
}

.menu-item {
    padding: 0 10px;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #333;
    color: #fff;
}





/* -> Info player:*/
.info-player {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

.name-image-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.name-health-bar-player {
    display: flex;
    flex-direction: column;
    width: calc(60% - 8px);
    text-align: center;
    transition: all 0.3s;
}

.name-health-bar-player.expanded {
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.health-bar {
    height: 10px;
    width: 100%;
    background-color: #ccc;
    border: 2px solid #333;
    overflow: hidden;
}

.name-health-bar-player.expanded .health-bar {
    min-width: 100px;
    height: 8px;
}

.hp-fill {
    height: 100%;
    background-color: #e63946;
    transition: width 0.3s ease;
}

.name-player-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.name-health-bar-player.expanded .name-player-title {
    font-size: 1.5rem;
    line-height: 1;
}

.player-stats-info {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.player-stats-info img {
    max-height: 1.2rem;
    max-width: 1.2rem;
    border-radius: 10px;
}

.player-stats-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.health-player {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.class-race-nature {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    justify-content: space-between;
    transition: all .3s;
}

.class-race-nature.expanded {
    display: none;
}

.class-race-nature-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    scale: 110%;
}

.class-race-nature img {
    height: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;
}

.class-race-nature-span {
    display: flex;
    flex-direction: column;
    line-height: 1;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.class-race-nature-span span {
    font-size: .8rem;
}

.player-block {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.player-image {
    width: calc(38% - 8px);
    position: relative;
    aspect-ratio: 1;
}

.player-image.expanded {
    display: none;
}

.player {
    display: flex;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 20px 0 20px 0;
    background-color: #526d56;
    max-height: 100%;
    overflow: hidden;
}

.container-player {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

.player-block img {
    width: 80%;
}

.stats-icons-player {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 10px 0 10px;
    gap: 5px;
    transition: all .3s;
}

.stats-icons-player.expanded {
    display: none;
}

.stat-icon-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-icon-name-container span {
    font-size: .7rem;
    line-height: 1;
}

.stat-icon-name {
    border-radius: 15px;
    padding: 0 2px;
}

.stat-icon-name img {
    height: 1.3rem;
    width: 1.3rem;
}

.data-money-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1;
    color: #fff;
}

.data-money-player span {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
}

.data-money-player img {
    scale: 60%;
}

.misions-container {
    background-color: #807868;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    height: 100%;
    border-radius: 20px;
}



.equiped-items-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.equiped-items-container img {
    width: 3.5rem;
    height: 3.5rem;
}

.equiped-items-container.expanded {
    display: none;
}

.chest-container,
.hands-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.left-hand,
.right-hand,
.chest,
.info-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    font-size: 1.1rem;
}

.chest-border,
.left-hand-border,
.right-hand-border {
    background-color: #b8a59c;
    border: 2px solid #1c1c1c;
    border-radius: 6px;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
}